[Desktop Entry]
Type=Application
Name=Chat
Icon=stock_smiley-18
Encoding=UTF-8
Version=1.0
Terminal=false
Exec=java -jar Chat.jar
Hidden=false
GenericName=Programme sur les chats !
Comment=Peut être amélioré !
MimeType=image/x-foo;
Categories=Languages;Java;
Path=Chat
X-Desktop-File-Install-Version=0.24
